@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px theme(colors.primary.100);
}

body {
  color: theme(colors.secondary.100);
  background: theme("colors.black");
  -webkit-font-smoothing: antialiased;
}

input,
text-area {
  font: 400 1rem Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: var(--font-oswald);
}
